:root {
  --color-hero-bg: #e9ded4;
  --color-yellow: #fbce51;
  --color-dark: #1f1f1f;
  --color-white: #ffffff;
  --color-red: #f54932;
  --color-blue: #3057a2;
  --duration: 30s;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Merriweather', serif;
}

img {
  font-size: 0;
}

.container {
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 0 7.2rem;
  background-color: var(--color-grey-light-1);
}

.primary-title {
  font-size: 5.4rem;
}
.secondary-title {
  font-size: 3.6rem;
  line-height: 135%;
}

.title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

.title--decor-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title--decor-center span {
  align-self: flex-end;
}

.title--decor-red {
  color: var(--color-red);
  font-style: normal;
  font-weight: 700;
}

.descr {
  padding: 0;
  margin: 0;
  font-family: 'Golos Text', sans-serif;
  font-size: 2rem;
}

.btn-link {
  display: block;
  text-align: center;
  max-width: 26.3rem;
  padding: 1.4rem 4.9rem;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 6.6rem;
  font-family: 'Golos Text', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.btn-link:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-link--dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-link--dark:hover {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
  color: var(--color-dark);
}

/* HERO section */

.hero {
  height: 70rem;
  background-image: url(../img/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__logo {
  display: flex;
  align-items: center;
  padding: 2.6rem 0;
}

.hero__content {
  padding-top: 3.5rem;
  max-width: 54.2rem;
}

.hero__title {
  margin-bottom: 2.5rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 110%;
}

.hero__descr {
  text-align: center;
  font-size: 1.8rem;
  line-height: 130%;
  margin-bottom: 3.8rem;
}

.hero__btn-block {
  display: flex;
  gap: 0 1.6rem;
}

.scroll-line {
  display: flex;
  padding: 1.8rem 0;
  overflow: hidden;
  background-color: var(--color-red);
}

.scroll-line__text {
  font-size: 2.2rem;
  white-space: nowrap;
  text-transform: uppercase;
}

/* announcement */
.announcement {
  padding-top: 10.6rem;
  background: url(../img/announcement-img-1.png) top 8rem right 7.2rem / 39.4rem
      25rem no-repeat,
    url(../img/announcement-img-2.png) top 36.4rem left 4.2rem/ 53rem 56.8rem no-repeat;
}

.announcement__container {
  display: flex;
  flex-direction: column;
}

.announcement__title-up {
  max-width: 74.6rem;
  margin-bottom: 9.31rem;
}

.announcement__content {
  align-self: flex-end;
  max-width: 70.4rem;
  height: 54rem;
}

.announcement__title-down {
  margin-bottom: 6rem;
}

.table {
  margin-bottom: 5rem;
}

.table__row {
  display: grid;
  grid-template-columns: 30.5rem 30rem;
  border-bottom: 2px solid #d0d0d0;
}

.table__row:last-child {
  border-bottom: none;
}

.table__col-1 {
  padding: 1.6rem 0 1.5rem 0;
}

.table__col-2 {
  padding: 1.6rem 0 1.5rem 1.5rem;
  font-weight: 600;
  border-left: 2px solid #d0d0d0;
}

.table__row:first-child .table__col-1 {
  padding-top: 0;
}
.table__row:first-child .table__col-2 {
  padding-top: 0;
}
.table__row:last-child .table__col-1 {
  padding-bottom: 0;
}
.table__row:last-child .table__col-2 {
  padding-bottom: 0;
}
.descr--decor-stroke {
  position: relative;
  padding-right: 0.5rem;
}

.descr--decor-stroke::after {
  position: absolute;
  content: '';
  left: -3px;
  top: 50%;
  width: 95%;
  height: 2px;
  background-color: var(--color-red);
}

.announcement__contact {
  color: var(--color-blue);
}
